body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .busqueda {
    background-color: #e86c6c;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
  }

  .busqueda h1 {
    margin-bottom: 15px;
    font-size: 36px;
  }

  .busqueda input {
    width: 250px;
  }

  input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 0px;
  }
  
  nav ul li button {
    background-color: #d30808;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  nav ul li button:hover {
    background-color: #f49797;
  }
  
  .pestanas {
    text-align: center;
    margin-top: 15px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }

  .formulario * {
    margin-top: 10px;
  }

  .formulario button{ 
    background-color: #d30808;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
  }

  .formulario button:hover{
    background-color: #f49797;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  table th {
    background-color: #e86c6c;
    color: #fff;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }