<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suavecito Manager</title>
</head>
<body>
  <header class="busqueda">
    <h1>Suavecito Manager</h1>
    <input type="text" placeholder="Search...">
  </header>
  <nav>
    <ul>
      <li><button (click)="altas()">Altas</button></li>
      <li><button (click)="bajas()">Bajas</button></li>
      <li><button (click)="cambios()">Modificar</button></li>
      <li><button (click)="mostrarProductos()">Productos</button></li>
    </ul>
  </nav>
  <h2 class="pestanas">{{opcion}}</h2>
  <div *ngIf="opcion === 'Altas'">
    <form class="formulario">
      <input type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre">
      <input type="text" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" placeholder="Descripción">
      <input type="text" [(ngModel)]="precio" [ngModelOptions]="{standalone: true}" placeholder="Precio">
      <input type="text" [(ngModel)]="stock" [ngModelOptions]="{standalone: true}" placeholder="Cantidad en stock">
      <button (click)="agregarProducto()">Agregar</button>
    </form>
  </div>
  <div *ngIf="opcion === 'Bajas'">

  </div>

  

  <table *ngIf="opcion === 'Cambios'">
    <thead *ngIf="productos.length > 0; else noProductos">
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Código</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.codigo }}</td>
        <td>   <!-- Agrega un botón o enlace para modificar el producto -->
          <button (click)="Docambios(producto)">Modificar</button></td>
      </tr>
    </tbody>
    <ng-template #noProductos>
      <tr>
        <td colspan="5">No hay productos disponibles.</td>
      </tr>
    </ng-template>
  </table>

  <div *ngIf="opcion === 'DoCambios'">
    <form class="formulario">
      <input type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre">
  <input type="text" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" placeholder="Descripción">
  <input type="text" [(ngModel)]="precio" [ngModelOptions]="{standalone: true}" placeholder="Precio">
  <input type="text" [(ngModel)]="stock" [ngModelOptions]="{standalone: true}" placeholder="Cantidad en stock">
  <button (click)="modificarProducto()">Guardar cambios</button>
    </form>
  </div>

  <table *ngIf="opcion === 'Productos'">
    <thead *ngIf="productos.length > 0; else noProductos">
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Código</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.codigo }}</td>
      </tr>
    </tbody>
    <ng-template #noProductos>
      <tr>
        <td colspan="5">No hay productos disponibles.</td>
      </tr>
    </ng-template>
  </table>
  
  
</body>
</html>
